<a href="https://colab.research.google.com/github/KamezChand/GoogleCollabML/blob/master/Linear_Regression_Tutorial_For_Online_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# conventional way to import pandas
import pandas as pd

# read CSV file directly from a URL and save the results
data = pd.read_csv('http://datasciencemastery.in/wp-content/uploads/2018/07/Advertising.csv', index_col=0)


# display the first 5 rows
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [0]:
# create a Python list of feature names
feature_cols = ['TV', 'radio', 'newspaper']

# use the list to select a subset of the original DataFrame
X = data[feature_cols]

# print the first 5 rows
print(X.head())

# select a Series from the DataFrame
y = data['sales']


# print the first 5 values
print(y.head())

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4
1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: sales, dtype: float64

In [0]:
# import model
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn import datasets, linear_model

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10,  random_state=1)

# instantiate
linreg = LinearRegression()
# fit the model to the training data (learn the coefficients)
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [0]:
from sklearn import metrics
import numpy as np

# make predictions on the testing set
y_pred = linreg.predict(X_test)


for mp, av in zip(y_pred, y_test):
  print ('Model Predicted Value ={}, Known Value = {}, difference = {}'.format(round(mp,2),round(av,2),round(abs(mp-av),2)))

Model Predicted Value =8.72, Known Value = 8.5, difference = 0.22
Model Predicted Value =21.07, Known Value = 22.3, difference = 1.23
Model Predicted Value =14.98, Known Value = 14.9, difference = 0.08
Model Predicted Value =17.2, Known Value = 12.8, difference = 4.4
Model Predicted Value =24.21, Known Value = 26.2, difference = 1.99
Model Predicted Value =17.31, Known Value = 17.4, difference = 0.09
Model Predicted Value =13.76, Known Value = 11.6, difference = 2.16
Model Predicted Value =14.8, Known Value = 12.3, difference = 2.5
Model Predicted Value =14.89, Known Value = 13.4, difference = 1.49
Model Predicted Value =12.42, Known Value = 12.6, difference = 0.18
Model Predicted Value =12.02, Known Value = 11.7, difference = 0.32
Model Predicted Value =6.57, Known Value = 8.8, difference = 2.23
Model Predicted Value =9.06, Known Value = 10.5, difference = 1.44
Model Predicted Value =12.7, Known Value = 12.5, difference = 0.2
Model Predicted Value =3.49, Known Value = 5.3, difference = 1.81
Model Predicted Value =12.02, Known Value = 13.4, difference = 1.38
Model Predicted Value =19.47, Known Value = 18.9, difference = 0.57
Model Predicted Value =9.29, Known Value = 10.7, difference = 1.41
Model Predicted Value =11.3, Known Value = 11.9, difference = 0.6
Model Predicted Value =20.03, Known Value = 20.2, difference = 0.17

In [0]:
from sklearn import metrics


print ('Mean Absolute Error = ', metrics.mean_absolute_error(y_test, y_pred))
print ('Mean Squared Error = ',metrics.mean_squared_error(y_test, y_pred))
print ('Root Mean Squared Error = ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print ('R2 score = ', metrics.r2_score(y_test, y_pred))

Mean Absolute Error =  1.2231730213799095
Mean Squared Error =  2.655908171625213
Root Mean Squared Error =  1.6296957297683554
R2 score =  0.8875923825281706

In [0]:
from sklearn.cross_validation import train_test_split
from sklearn import datasets, linear_model
from sklearn.cross_validation import cross_val_score



lm = linear_model.LinearRegression()
scores = cross_val_score(lm, X, y, cv=10, scoring='r2')

print("\n",scores)
print ("The mean of r2 is", scores.mean())


scores = cross_val_score(lm, X, y, cv=10, scoring='neg_mean_absolute_error')

print("\n",scores)
print ("The mean of absolute error is", scores.mean())

 [0.8739214  0.85722834 0.92845438 0.89258759 0.90039671 0.94716849
 0.72173689 0.9217827  0.83953548 0.90505634]
The mean of r2 is 0.8787868325207902

 [-1.42314384 -1.42700504 -1.19312701 -1.41092813 -0.95649802 -0.92755409
 -2.06174995 -1.11161786 -0.99274803 -1.47739665]
The mean of absolute error is -1.2981768621036889

In [0]:
# Taking To Production


# import model
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn import datasets, linear_model


# instantiate
linreg = LinearRegression()
linreg.fit(X, y)


# read CSV file 


  
  
df = pd.read_csv('http://datasciencemastery.in/wp-content/uploads/2018/07/Advertising_Data_For_Prediction.csv', index_col=0)
print(df)
# create a Python list of feature names
feature_cols = ['TV', 'radio', 'newspaper']

# use the list to select a subset of the original DataFrame
input_data = df[feature_cols]

# make predictions on the testing set
y_pred = linreg.predict(input_data)


print("\n",y_pred)

      TV  radio  newspaper
1  166.8   42.0        3.6
2  149.7   35.6        6.0
3   38.2    3.7       13.8
4   94.2    4.9        8.1
5  177.0    9.3        6.4
6  283.6   42.0       66.2
7  232.1    8.6        8.7

 [18.4378611  16.44871819  5.33077734  8.13096221 12.76027683 23.76024579
 15.15701858]